In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-07-27 00:52:37,-21.2000,-175.2000,73.92,72,100,12.50
1,1,Rikitea,PF,2022-07-27 00:52:37,-23.1203,-134.9692,75.04,73,55,8.88
2,2,Akdepe,TM,2022-07-27 00:52:38,42.0551,59.3788,75.29,39,0,1.01
3,3,Muroto,JP,2022-07-27 00:52:38,33.2833,134.1500,81.91,81,88,7.29
4,4,Severo-Kurilsk,RU,2022-07-27 00:52:38,50.6789,156.1250,55.02,82,100,6.42

# Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [15]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [16]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-07-27 00:52:37,-23.1203,-134.9692,75.04,73,55,8.88
2,2,Akdepe,TM,2022-07-27 00:52:38,42.0551,59.3788,75.29,39,0,1.01
3,3,Muroto,JP,2022-07-27 00:52:38,33.2833,134.1500,81.91,81,88,7.29
6,6,Rincon,US,2022-07-27 00:52:39,32.2960,-81.2354,84.16,65,40,10.36
8,8,Zhanakorgan,KZ,2022-07-27 00:52:40,43.9098,67.2495,76.19,42,0,10.67
13,13,Ambon,ID,2022-07-27 00:52:42,-3.6954,128.1814,80.74,74,75,8.05
16,16,Vanimo,PG,2022-07-27 00:52:43,-2.6741,141.3028,85.17,65,94,5.57
25,25,Naples,IT,2022-07-27 00:52:46,40.8333,14.2500,79.41,85,0,1.14
28,28,Faanui,PF,2022-07-27 00:52:47,-16.4833,-151.7500,78.44,73,22,9.31
29,29,Bandarbeyla,SO,2022-07-27 00:52:47,9.4942,50.8122,77.81,69,6,27.25

In [19]:
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

# 6.5.4 Map Vacation Criteria

In [57]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [58]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Rikitea      PF     75.04 -23.1203 -134.9692
2        Akdepe      TM     75.29  42.0551   59.3788
3        Muroto      JP     81.91  33.2833  134.1500
6        Rincon      US     84.16  32.2960  -81.2354
8   Zhanakorgan      KZ     76.19  43.9098   67.2495
13        Ambon      ID     80.74  -3.6954  128.1814
16       Vanimo      PG     85.17  -2.6741  141.3028
25       Naples      IT     79.41  40.8333   14.2500
28       Faanui      PF     78.44 -16.4833 -151.7500
29  Bandarbeyla      SO     77.81   9.4942   50.8122

In [59]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [60]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = "NA"

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [62]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,75.04,-23.1203,-134.9692,People ThankYou
2,Akdepe,TM,75.29,42.0551,59.3788,NA
3,Muroto,JP,81.91,33.2833,134.1500,Oota Ryokan
6,Rincon,US,84.16,32.2960,-81.2354,Days Inn Rincon
8,Zhanakorgan,KZ,76.19,43.9098,67.2495,"""Ақпалас"" қонақ үйі"
13,Ambon,ID,80.74,-3.6954,128.1814,Swiss-Belhotel Ambon
16,Vanimo,PG,85.17,-2.6741,141.3028,Vahmoneh Lodge Vanimo
25,Naples,IT,79.41,40.8333,14.2500,Renaissance Naples Hotel Mediterraneo
28,Faanui,PF,78.44,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
29,Bandarbeyla,SO,77.81,9.4942,50.8122,JABIR HOTEL

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [67]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Use template to add hotel markers to heatmap

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]