## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os
import time

In [2]:
# Import API key
from config import g_key

In [3]:
# Configure gmaps API key
gmaps.configure(api_key= g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Loikaw,MM,19.6742,97.2094,86.05,58,58,2.06,broken clouds
1,1,Kerema,PG,-7.9631,145.7785,80.64,82,66,5.37,broken clouds
2,2,Lebu,CL,-37.6167,-73.6500,49.80,87,54,12.12,broken clouds
3,3,Yaan,NG,7.3833,8.5667,71.49,97,100,5.39,overcast clouds
4,4,Glendive,US,47.1053,-104.7125,67.62,59,20,6.91,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 67
What is your desired maximum temperature for your trip? 69

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Glendive,US,47.1053,-104.7125,67.62,59,20,6.91,few clouds
32,32,Abalak,RU,58.1286,68.5944,68.58,48,73,9.75,broken clouds
197,197,Bethel,US,41.3712,-73.4140,68.63,81,0,4.61,clear sky
225,225,Balgazyn,RU,51.0000,95.2000,67.82,44,91,1.10,overcast clouds
272,272,Geraldton,AU,-28.7667,114.6000,68.41,56,0,14.97,clear sky
288,288,Periam,RO,46.0500,20.8667,68.16,80,35,6.82,scattered clouds
299,299,Montecristi,EC,-1.0500,-80.6667,67.82,94,100,5.75,light rain
309,309,Lunca Ilvei,RO,47.3667,24.9833,67.19,63,80,2.10,broken clouds
335,335,Kholmogory,RU,64.2229,41.6560,68.58,67,51,8.14,broken clouds
348,348,Maneadero,MX,31.7167,-116.5667,68.11,83,35,1.99,scattered clouds
367,367,Kampene,CD,-3.6000,26.6667,68.41,65,96,1.63,overcast clouds
370,370,Guerrero Negro,MX,27.9769,-114.0611,68.95,82,4,10.11,clear sky
407,407,Snezhnogorsk,RU,69.1933,33.2531,67.78,86,100,21.25,overcast clouds
412,412,Campo Alegre,BR,-9.7819,-36.3508,67.17,94,100,4.03,overcast clouds
441,441,Svetlaya,RU,46.5389,138.3297,68.34,82,64,4.99,broken clouds
447,447,Bako,ET,5.7833,36.5667,67.46,57,97,3.98,overcast clouds
464,464,Cabinda,AO,-5.5500,12.2000,68.56,92,77,3.24,broken clouds
477,477,Merrill,US,45.1805,-89.6835,68.72,88,100,0.00,overcast clouds
488,488,Jumla,NP,29.2747,82.1838,67.35,84,100,3.18,overcast clouds
536,536,Vila Velha,BR,-20.3297,-40.2925,67.95,96,20,2.30,few clouds
537,537,Manitowoc,US,44.0667,-87.8001,68.56,81,40,8.05,scattered clouds
546,546,Toledo,ES,39.8333,-4.0000,68.90,49,0,2.86,clear sky
548,548,Khomutovka,RU,51.9207,34.5619,68.41,79,1,5.44,clear sky
603,603,Tigil,RU,57.8000,158.6667,67.24,52,74,15.61,broken clouds
607,607,Rafai,CF,4.9500,23.9167,68.09,95,99,0.65,overcast clouds
657,657,Saint Anthony,US,45.0205,-93.2180,68.95,90,100,12.66,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                26
City                   26
Country                26
Lat                    26
Lng                    26
Max Temp               26
Humidity               26
Cloudiness             26
Wind Speed             26
Current Description    26
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_df = preferred_cities_df.dropna()
cleaned_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Glendive,US,47.1053,-104.7125,67.62,59,20,6.91,few clouds
32,32,Abalak,RU,58.1286,68.5944,68.58,48,73,9.75,broken clouds
197,197,Bethel,US,41.3712,-73.4140,68.63,81,0,4.61,clear sky
225,225,Balgazyn,RU,51.0000,95.2000,67.82,44,91,1.10,overcast clouds
272,272,Geraldton,AU,-28.7667,114.6000,68.41,56,0,14.97,clear sky
288,288,Periam,RO,46.0500,20.8667,68.16,80,35,6.82,scattered clouds
299,299,Montecristi,EC,-1.0500,-80.6667,67.82,94,100,5.75,light rain
309,309,Lunca Ilvei,RO,47.3667,24.9833,67.19,63,80,2.10,broken clouds
335,335,Kholmogory,RU,64.2229,41.6560,68.58,67,51,8.14,broken clouds
348,348,Maneadero,MX,31.7167,-116.5667,68.11,83,35,1.99,scattered clouds
367,367,Kampene,CD,-3.6000,26.6667,68.41,65,96,1.63,overcast clouds
370,370,Guerrero Negro,MX,27.9769,-114.0611,68.95,82,4,10.11,clear sky
407,407,Snezhnogorsk,RU,69.1933,33.2531,67.78,86,100,21.25,overcast clouds
412,412,Campo Alegre,BR,-9.7819,-36.3508,67.17,94,100,4.03,overcast clouds
441,441,Svetlaya,RU,46.5389,138.3297,68.34,82,64,4.99,broken clouds
447,447,Bako,ET,5.7833,36.5667,67.46,57,97,3.98,overcast clouds
464,464,Cabinda,AO,-5.5500,12.2000,68.56,92,77,3.24,broken clouds
477,477,Merrill,US,45.1805,-89.6835,68.72,88,100,0.00,overcast clouds
488,488,Jumla,NP,29.2747,82.1838,67.35,84,100,3.18,overcast clouds
536,536,Vila Velha,BR,-20.3297,-40.2925,67.95,96,20,2.30,few clouds
537,537,Manitowoc,US,44.0667,-87.8001,68.56,81,40,8.05,scattered clouds
546,546,Toledo,ES,39.8333,-4.0000,68.90,49,0,2.86,clear sky
548,548,Khomutovka,RU,51.9207,34.5619,68.41,79,1,5.44,clear sky
603,603,Tigil,RU,57.8000,158.6667,67.24,52,74,15.61,broken clouds
607,607,Rafai,CF,4.9500,23.9167,68.09,95,99,0.65,overcast clouds
657,657,Saint Anthony,US,45.0205,-93.2180,68.95,90,100,12.66,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Glendive,US,67.62,few clouds,47.1053,-104.7125,
32,Abalak,RU,68.58,broken clouds,58.1286,68.5944,
197,Bethel,US,68.63,clear sky,41.3712,-73.4140,
225,Balgazyn,RU,67.82,overcast clouds,51.0000,95.2000,
272,Geraldton,AU,68.41,clear sky,-28.7667,114.6000,
288,Periam,RO,68.16,scattered clouds,46.0500,20.8667,
299,Montecristi,EC,67.82,light rain,-1.0500,-80.6667,
309,Lunca Ilvei,RO,67.19,broken clouds,47.3667,24.9833,
335,Kholmogory,RU,68.58,broken clouds,64.2229,41.6560,
348,Maneadero,MX,68.11,scattered clouds,31.7167,-116.5667,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = "NA"

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Glendive,US,67.62,few clouds,47.1053,-104.7125,Super 8 by Wyndham Glendive
32,Abalak,RU,68.58,broken clouds,58.1286,68.5944,Туристический комплекс Абалак
197,Bethel,US,68.63,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
225,Balgazyn,RU,67.82,overcast clouds,51.0000,95.2000,NA
272,Geraldton,AU,68.41,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
288,Periam,RO,68.16,scattered clouds,46.0500,20.8667,Hotel
299,Montecristi,EC,67.82,light rain,-1.0500,-80.6667,Balcones del Cerro Hotel - Cabañas
309,Lunca Ilvei,RO,67.19,broken clouds,47.3667,24.9833,Cabana Codrul
335,Kholmogory,RU,68.58,broken clouds,64.2229,41.6560,Гостевая комната
348,Maneadero,MX,68.11,scattered clouds,31.7167,-116.5667,Casa De Thompson

In [12]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
cleaned_hotel_df = c.dropna()
cleaned_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Glendive,US,67.62,few clouds,47.1053,-104.7125,Super 8 by Wyndham Glendive
32,Abalak,RU,68.58,broken clouds,58.1286,68.5944,Туристический комплекс Абалак
197,Bethel,US,68.63,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
225,Balgazyn,RU,67.82,overcast clouds,51.0000,95.2000,NA
272,Geraldton,AU,68.41,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
288,Periam,RO,68.16,scattered clouds,46.0500,20.8667,Hotel
299,Montecristi,EC,67.82,light rain,-1.0500,-80.6667,Balcones del Cerro Hotel - Cabañas
309,Lunca Ilvei,RO,67.19,broken clouds,47.3667,24.9833,Cabana Codrul
335,Kholmogory,RU,68.58,broken clouds,64.2229,41.6560,Гостевая комната
348,Maneadero,MX,68.11,scattered clouds,31.7167,-116.5667,Casa De Thompson
367,Kampene,CD,68.41,overcast clouds,-3.6000,26.6667,NA
370,Guerrero Negro,MX,68.95,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
407,Snezhnogorsk,RU,67.78,overcast clouds,69.1933,33.2531,Severnoye Siyaniye
412,Campo Alegre,BR,67.17,overcast clouds,-9.7819,-36.3508,vilsfarless
441,Svetlaya,RU,68.34,broken clouds,46.5389,138.3297,NA
447,Bako,ET,67.46,overcast clouds,5.7833,36.5667,Goh Hotel
464,Cabinda,AO,68.56,broken clouds,-5.5500,12.2000,Hotel Maiombe
477,Merrill,US,68.72,overcast clouds,45.1805,-89.6835,Prairie Motel
488,Jumla,NP,67.35,overcast clouds,29.2747,82.1838,Royal Garden Hotel
536,Vila Velha,BR,67.95,few clouds,-20.3297,-40.2925,Hotel Vitória Palace
537,Manitowoc,US,68.56,scattered clouds,44.0667,-87.8001,NA
546,Toledo,ES,68.90,clear sky,39.8333,-4.0000,Hotel Carlos V Toledo
548,Khomutovka,RU,68.41,clear sky,51.9207,34.5619,"Gostinnitsa ""Zarya"""
603,Tigil,RU,67.24,broken clouds,57.8000,158.6667,Tigil'
607,Rafai,CF,68.09,overcast clouds,4.9500,23.9167,NA
657,Saint Anthony,US,68.95,overcast clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
cleaned_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in cleaned_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cleaned_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))